
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
*/


* {
    box-sizing: border-box;
}

html, body ,p {
    margin: 0;
    padding: 0;
    font-weight: 350;
    font-family:'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #626262;
   
}
.bg-gray{
    background-color: #DEDEDE;
}
.border {
    border: 1px solid black;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
.flex-navbartop{
    display: flex;
    justify-content:space-between;  
    align-items: center; 
    
}
.border-bottom{
     border-bottom:  1px solid #707070;
 }
 .flex-navbarbottom
{   
    display: flex;
    justify-content:space-between;  
    align-items: center;
}
.border-bottom  .container .socialmedia a {
    color: #2BAAEC;
    text-decoration: none;
    background-color: transparent;
}
  
.border-bottom  .container .socialmedia a:hover{
    color: #25E6C8;
}
nav>div>div>div>a{
    color:#363636;
}
.collapse:not(.show) {
    display: none;
}

 .border-bottom .flex-navbartop .hours i {
    color: #2BAAEC;
    margin-right: 0.5rem;
    font-size: 1.2em;
    padding-top: 0.3rem;
}
.border-bottom .flex-navbartop .socialmedia{
   padding: 0 7rem;
  
}
.border-bottom .flex-navbartop .socialmedia a {
    margin: 0 0.5rem;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    margin-right: 1rem;  
}

.navbar-brand img {
    height: 3rem;
    margin-top: 0.5rem;
}

.menue {
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-collapse {
    align-items: center;
}

.navbar-nav {
    display: flex;
    
}

.nav-link{
    display: flex;
    padding: 0;
    text-decoration: none;
}

/*-----------Section 1 Styling------------------*/

.image-section1{
       margin-top:2rem;
       margin-bottom: 0;
       
}
.paragraph{
    
}

.button-1{
    display: inline-block;
    background-color:#25E6C8 ;
    font-weight: 400;
    color:#FFFFFF;
    font-size:1rem;
    border:none;
    height: 60px;
    width:239px;
    border-radius: 10px;
    margin-top: 2rem;
    }
#section1 .container{
    padding: 0;
}
.button-1:hover{
    cursor: pointer;
    background: #2BAAEC;   
}
section>div>div>h1{
        font-size: 30px;
        color: #363636;
        font-weight:300;
}
/*-----------Section 2 Styling------------------*/
#section-2 .container{
display:flex;
justify-content:space-between;
padding: 0;
}
.paragraph-2{
   
}
.image-section2{
    margin-top: 4rem;
}

#section-2 .container .paragraph-2 .container h2{
   font-size: 20px;
   font-weight: 300;
   color: #2BAAEC;
   margin-bottom: 0;
   margin-top: 0.5rem;
}
#section-2 .container .paragraph-2 .container li{
    margin-right: 0rem;
    text-align: center;
}
#section-2 .container .paragraph-2 h1{
    font-size: 30px;
    color: #363636;
    font-weight:500;
   margin-bottom: 0rem; 
}
#section-2 .container .paragraph-2 hr{
   height:3px;
   border-width:0;
   background-color:#25E6C8;
   margin-bottom: 2rem;
}
#section-2 .container .paragraph-2 .container{
  display: flex; 
  list-style: none;
  justify-content:space-between;
  padding-left: 0;
  padding: 0;
  
}
 span{
     color:#2BAAEC;
}
.margin-top-paragraph{
    margin-top: 2rem;
}
/*-----------Section 3 Styling------------------*/
.section3-bgcolor{
    background-color: #F7F7F7;    
}

  #section-3>div>div>h2{
    margin: 0;
    padding-top: 1rem;
    text-align: center;  
    font-size: 20pt;
    color:#363636 ;
    font-weight: 300;
}
#section-3>div>div>hr{
    height:3px;
    border-width:0;
    background-color:#25E6C8;
    width:300px;
    margin-bottom: 1rem;
}
h3{
    font-size: 22px;
    color: #363636;
    font-weight: 300;
   
}
.image-background{
    width:100px;
    height: 100px;
    background-color:#25E6C8;
    border-radius: 50px;
    margin:2rem auto;
    padding:1rem;
}

.center-image{
    text-align: center; 
    margin-bottom: 3rem;
  }
 .cards{
     background-color:#FFFFFF;
     text-align: center;     
 }
 
 #section-3 .grid .cards p{
     margin:2rem 4rem 4rem 4rem;
    
 }
 /*
.flex-cards{
    display: flex;
    align-items: center;
    flex-direction:column;   
}
*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:1rem;  
}
/*----------------------------------------------*/
/*-------------------Section-4 Styling-------------------*/
.section4-bgcolor{
    background-color: #2BAAEC; 
  
}
.button-2{
    display: inline-block;
    height: 35px;
    background-color: #FFFFFF;
    color: #2BAAEC;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;    
}
.button-2:hover{
    cursor: pointer;
    background-color: #25E6C8;
    color: #FFFFFF; 
}
#section-4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-font{
color: #FFFFFF;
font-weight: 300;
margin:1rem 0;
}
/*--------------------------------------*/
/*-----------------Footer---------------------*/
.footer-background{
    
    background-color: #2ba5ec;
    text-align: center;
    padding:1rem 0;
    border: 1px  #2b78ec;
    color:#ffffff9d; 
}
/*--------------------------------------*/
@media (min-width: 768px) {
    .nav-link a {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-decoration: none;
    }
    .nav-link a:hover{
        color: #25E6C8;
    }
    
    .nav-link {
        flex-direction: row;
    }

    .menue {
        display: none;
    }
    
    .collapse:not(.show) {
        display: flex;
    }

    .container {
        max-width: 720px;
    }
    .navbar-brand img {
        height: 4rem;
        margin:2rem 0;
    }
    
    .border-bottom .flex-navbartop .socialmedia{
        padding: 0.5rem 1rem;
    } 
/*Section1 styling in wide screen*/
    #section1 .container{
        display:flex;
    }
    .paragraph{
       margin-top: 11rem;
       margin-left:3rem;         
    }
    #section1 h1{
        font-family: 'Roboto Slab', serif;
        font-size: 2.3rem;
        font-weight: 300;
        line-height: 1.1;
    }
    #section1 p {
        font-size: 0.9rem;
    }
/*Section2 styling in wide screen*/

    #section-2 .container .paragraph-2 h1{
       font-size:2rem;
       font-family: 'Roboto Slab', serif;
       font-weight: 200;
       color: #363636; 
       line-height: 1.2;
       margin-right: 10rem;
    }
    .paragraph-2{
       margin-top: 5rem;
    }

     #section-2 .container .paragraph-2 .container h2{
       font-size: 40px;
       margin-bottom: 0;
       margin-top: 2rem;
    
    }
    #section-2 .container .paragraph-2 .container li{
       margin-right: 5rem;
    }
 /*------------------------------------*/
 /*-Section3 Style in the wide screen--*/

    #section-3>div>div>h2{
       margin-top:0rem;
       padding-top: 5rem;
       font-size: 2.3rem; 
       font-family: 'Roboto Slab', serif;
       font-weight: 300;
    }
    #section-3>div>div>hr{
       margin-bottom: 2rem;
       width:450px;
    }
    .grid{ 
        padding:0 7rem 7rem 7rem;
        grid-template-columns:1fr 1fr 1fr;
    }
 /*------------------------------------*/
 /*-Section4 Style in the wide screen--*/
 .button-2{
    width:285px;
    height: 60px;
}

#section-4 .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.section-font{
    font-size: 30px;
    font-weight:300;
    margin:4rem 0;
    font-family: 'Roboto Slab', serif;   
}
.footer-background{
    padding: 2rem 0;
}
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
