
* {
    box-sizing: border-box;
}

html, body ,p {
    margin: 0;
    padding: 0;
    font-weight:300;
    font-family:'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color:#626262;
}
.bg-gray{
    background-color: #DEDEDE;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
hr{
    height:3px;
    border-width:0;
    background-color:#25E6C8;
}
h1,h2,h3,a{
font-family:'Roboto Slab', serif;
}
/*---------------------Navbar Style------------------------*/
.flex-navbar{
    display: flex;
    justify-content:space-between;  
    align-items: center; 
}
.border-bottom{
     border-bottom:  1px solid #707070;
 }
 
.border-bottom  .container .socialmedia a {
    color: #2BAAEC;
    text-decoration: none;
}
  
.border-bottom  .container .socialmedia a:hover{
    color: #25E6C8;
}
.collapse:not(.show) {
    display: none;
}

 .border-bottom .flex-navbar .hours i {
    color: #2BAAEC;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    padding-top: 0.3rem;
}
.border-bottom .flex-navbar .socialmedia{ 
   padding: 0 6rem;
}
.border-bottom .flex-navbar .socialmedia a {
    margin: 0 0.5rem;
}
.flex-navbar img {
    height: 3rem;
    margin-top: 1rem;
}
.menue {
    display: inline-block;
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.menue:hover{
background-color:#25E6C8;
color: #FFFFFF;
}
.nav-link{
    display: flex;
    padding: 0;
    text-decoration: none;
}

/*-----------Section 1 Styling------------------*/

.image-section1{
    height: 500px;
    width: 450px;
    margin-top: 1rem;
    flex:1;       
}
.paragraph{
 margin: 0.5rem;   
 flex:1;
}

.button-1{
    display: inline-block;
    background-color:#25E6C8 ;
    font-weight: bold;
    color:#FFFFFF;
    font-size:1rem;
    border:none;
    height: 50px;
    width:200px;
    border-radius: 10px;
    margin: 1rem 0;
    }
#showcase .container{
    padding: 0;   
}
.button-1:hover{
    cursor: pointer;
    background: #2BAAEC;   
}
#showcase .paragraph h1{
        font-size: 30px;
        color: #363636;
        font-weight:300;
        margin-bottom: 0.5rem;
}
/*-----------Section 2 Styling------------------*/
#about-us .container{
display:flex;
justify-content:space-between;
padding: 0;
}
#about-us .container .paragraph-2 h1{
    font-size:1.5rem;
    color: #363636; 
    line-height: 1.2;
    font-weight: 300px;
    
 }
#about-us .container .paragraph-2 h1,hr{
    margin-left: 0.5rem;
}
#about-us .container .paragraph-2 p{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.image-section2{
    margin-top: 4rem;
    height: 600px;
}
#about-us .container .paragraph-2 .container h2{
   font-size: 20px;
   font-weight: 300;
   color: #2BAAEC;
   margin-bottom: 0;
   margin-top: 0.5rem;
}
#about-us .container .paragraph-2 .container li{
    margin-right: 0rem;   
}

#about-us .container .paragraph-2 hr{
   margin-bottom: 1rem;
}
#about-us .container .paragraph-2 .container{
  display: flex; 
  list-style: none;
  justify-content:space-between; 
}
 span{
     color:#2BAAEC;
}
.margin-top-paragraph{
    margin-top: 2rem;
}
/*----------------------------------------------*/
/*-----------Section 3 Styling------------------*/
/*----------------------------------------------*/
.services-bgcolor{
    background-color: #F7F7F7;    
}
  #services h2{
    margin: 0;
    padding-top: 1rem;
    text-align: center;  
    font-size: 20pt;
    color:#363636 ;
    font-weight: 300;
}
#services hr{
    width:300px;
    margin:0.5rem auto; 
    margin-bottom: 1rem;
}
#services .grid .cards h3{
    font-size:1.3rem ;
    color: #363636;
    font-weight: 300;  
}
.image-background{
    width:100px;
    height: 100px;
    background-color:#25E6C8;
    border-radius: 50px;
    margin:2rem auto;
    padding:1rem;
}

 .cards{
     background-color:#FFFFFF;
     text-align: center;   
 }
 
 #services .grid .cards p{
     margin:0rem 2rem 4rem 2rem;
     font-size:0.9rem;
 }
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     
}
/*----------------------------------------------*/
/*-------------------Section-4 Styling----------*/
/*----------------------------------------------*/
.appointment-bgcolor{
    background-color:#4EB4E9; 
}
.button-2{
    display: inline-block;
    height: 35px;
    background-color: #FFFFFF;
    color: #2BAAEC;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;    
}
.button-2:hover{
    cursor: pointer;
    background-color: #25E6C8;
    color: #FFFFFF; 
}
#appointment .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#appointment h1{
color: #FFFFFF;
font-weight: 300;
margin:1rem 0;
font-size: 1rem;
}
/*--------------------------------------------*/
/*-----------------Footer---------------------*/
/*--------------------------------------------*/
.footer-background{
    background-color: #2BAAEC;
    text-align: center;
    padding:1rem 0;
    color:#ffffff9d; 
}
/*--------------------------------------*/
@media (min-width: 768px) {
    .nav-link a {
       padding: 0 0.5rem;
       text-decoration: none;
       color: #363636;
    }
    
    .nav-link a:hover{
        color: #25E6C8;
    }
    
    .menue {
        display: none;
    }
    
    .collapse:not(.show) {
        display: flex;
    }

    .container {
        max-width: 720px;
    }
    .flex-navbar  img {
        height: 4rem;
        margin:2rem 0;
    }
    
    .border-bottom .flex-navbar .socialmedia, .nav-link{
        padding: 0.5rem 0.5rem;
    } 
/*Section1 styling in the wide screen*/
    #showcase .container{
        display:flex;       
    }
    .paragraph{
       margin-top: 8rem;
       margin-left:10rem;
       margin-right: 0;         
    }
    #showcase .paragraph h1{
        font-size: 2.3rem;
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: 2rem;
       
    }
    #showcase p {
        font-size: 0.9rem;
    }
    .button-1{
        height: 60px;
        width:239px;
        margin-top: 2rem;
        }
/*Section2 styling in wide screen*/
    #about-us .container .paragraph-2 h1{
       font-size:2rem; 
       line-height: 1.2;
       margin-right: 10rem;
    }
    .paragraph-2{
       margin-top: 6rem; 
    }
    #about-us .container .paragraph-2 p{
        margin-right: 5rem;
    }
    #about-us .container .paragraph-2 hr{
        margin-bottom: 2rem; 
     }
     #about-us .container .paragraph-2 .container{
        padding-right: 4rem;
        margin-left: 0;
     }
     #about-us .container .paragraph-2 .container h2{
       font-size: 2rem;
       margin-bottom: 0;
       margin-top: 2rem;
       margin-left: 0.7rem;
    }
 /*------------------------------------*/
 /*-Section3 Style in the wide screen--*/
 /*------------------------------------*/
    #services h2{
       margin-top:0rem;
       padding-top: 5rem;
       font-size: 2.3rem; 
       font-weight: 300;
    }
    #services hr{
       margin-bottom: 3rem;
       width:450px;  
    }
    .grid{ 
        padding:0 7rem 7rem 7rem;
        grid-template-columns:1fr 1fr 1fr;
        gap:1rem; 
    }
 /*------------------------------------*/
 /*-Section4 Style in the wide screen--*/
 /*------------------------------------*/
    .button-2{
       width:285px;
       height: 60px;
    }
    #appointment h1{
        font-size: 1.5rem;
        margin:4rem 0;
    }

    #appointment .container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .footer-background{
        padding: 1rem 0;
    }  
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
